.git
.gitignore
.DS_Store

node_modules
**/node_modules

dist
**/dist
coverage
**/coverage

.env
.env.local
.env.*.local

**/*.tsbuildinfo

.axodex
axodex-web/playwright-report
axodex-web/test-results
